/*.screen2 {
    background-color: lavender;
    width: 273px;
    height: 449.4px;
    position: absolute;
    top: 211px;
    left: 665px;
    padding: 9px 20px;
    overflow: scroll;
    z-index: 2;
}
	
	p.level1-title {
		text-align: center;
	    font-size: 2rem;
	    background-color: deeppink;
	    padding: 12px 4px;
	    width: 269px;
	    position: relative;
	    left: -20px;
	    top: -9px;
	}


	ul.level1 {
		list-style: none;
		padding-left: 0;
	}
		li.level1-item {
			border: 2px solid pink;
		    background-color: white;
		    padding: 4px 5px;
		    margin: 14px 0;
		    text-align: center;
		    border-radius: 5%;
		}
			li.level1-item:hover {
				background-color: pink;
				border-color: pink;
				color: white;
			}
				ul.level2 {
					display: none;
				}

	.btn-success.submit {
		padding: 5px 20px;
   		margin: 0 25%;
	}


*/